
.icon-menard_vickey_440_dingbat-02:before { content: '\e800'; } /* '' */
.icon-menard_vickey_440_dingbat-03:before { content: '\e801'; } /* '' */
.icon-menard_vickey_440_dingbat-07:before { content: '\e802'; } /* '' */