/* this file contains all variables */

/* color palette */

$primary: rgba(206,56,36,.7);
$secondary: #a67a67;
$primary-dark: #420000;
$secondary-dark: #3a261b;
$light: #f2ece9;

$background: transparent url('..images/rodeo.jpg') no-repeat center;

/* fonts */

$primary-font: 'Alfa Slab One', cursive;
$secondary-font: arial, sans-serif;

/* font size */

$h1: 60px;
